div#pitch {
    position: relative;
}

#pitch_img {
    height: 60%;
    width: 50%;
}

img#robot {
    width: 3%;
    position: absolute;
    z-index: 2;
}

img#opp_robot {
    width: 3%;
    position: absolute;
    z-index: 2;
}

.draggable {
    touch-action: none;
    user-select: none;
}

table, th, td {
    border: 1px solid black;
}